@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 300 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hourly-style{
    max-height: 726px;
    overflow: auto; /* Required for the scrollbar to appear */
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: hsl(243 23% 24% / var(--tw-bg-opacity, 1)) transparent;
}
.hourly-style::-webkit-scrollbar {
    width: 12px;
    height: 12px; /* for horizontal scrollbar */
  }
  
  /* Target the track (background of the scrollbar) */
  .hourly-style::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  
  /* Target the thumb (the draggable handle) */
  .hourly-style::-webkit-scrollbar-thumb {
    background-color: hsl(243 23% 24% / var(--tw-bg-opacity, 1));
    border-radius: 10px;
    border: 3px solid transparent; /* Creates a border that matches the track */
  }
  
  /* Target the thumb on hover for better UX */
  .hourly-style::-webkit-scrollbar-thumb:hover {
    background-color: #333;
  }
  .divider{
    border-bottom: 1px solid hsl(243 4% 40% / var(--tw-bg-opacity, 1));
    margin: 10px 0;
  }